---
import Social from './Social.astro';
---

<div class="footer">    
    <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" />
</div>


