---
const platform = "github";
const username = "withastro";
import "../styles/global.css";
---

<footer>
    <p>
        Learn more about my projects on <a
            href={`https://www.${platform}.com/${username}`}>{platform}</a
        >!
    </p>
</footer>
  <platform="github" username="withastro" />
  <Social platform="youtube" username="astrodotbuild" />
</footer>

