---
const platform = "github";
const username = "withastro";
import "../styles/global.css";
---


    <p>
        Learn more about my projects on <a
            href={`https://www.${platform}.com/${username}`}>{platform}</a
        >!
    </p>




